# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
tmp.py

.vscode/
.mypy_cache/
*.pkl

# word embedding files
*.zip
*.bin*
glove.6B/
glove.42B*/
!word_embeddings.pkl

# classification files
config.py
!classifier.pkl

# rendered files from quarto
docs/
_freeze/
/.quarto/
